In [1]:
import pandas as pd
import numpy as np

In [2]:
df2021s1 = pd.read_parquet('/bd-fs-mnt/datalab/data/dvf/cleaned/2021s1.parquet.gzip')

In [3]:
df2021s1.head()

       code_postal  nb_pieces  surface  prix_vente
281881       31000          1       22       85000
281886       31500          2       43      186000
281888       31400          2       42      155370
281890       31500          1       35      135732
281900       31500          3       68      344500

In [4]:
df2021s1.dtypes

code_postal    object
nb_pieces       int32
surface         int32
prix_vente      int32
dtype: object

In [5]:
x = df2021s1.drop('prix_vente', axis=1)
x = pd.get_dummies(x, drop_first=True)

In [6]:
x.head()

,nb_pieces,surface,code_postal_31100,code_postal_31200,code_postal_31300,code_postal_31400,code_postal_31500
281881,1,22,0,0,0,0,0
281886,2,43,0,0,0,0,1
281888,2,42,0,0,0,1,0
281890,1,35,0,0,0,0,1
281900,3,68,0,0,0,0,1

In [7]:
y = df2021s1['prix_vente']

In [8]:
y.head()

281881     85000
281886    186000
281888    155370
281890    135732
281900    344500
Name: prix_vente, dtype: int32

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [10]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train, y_train)

LinearRegression()

In [11]:
predictions1 =  LR.predict(x_test)

In [12]:
# measure RSME
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(y_test, predictions1)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

269489.78686882375

In [13]:
x_test.head(5)

,nb_pieces,surface,code_postal_31100,code_postal_31200,code_postal_31300,code_postal_31400,code_postal_31500
287185,1,18,0,0,0,1,0
283108,3,68,0,1,0,0,0
289267,3,63,0,0,0,1,0
290133,3,57,0,0,1,0,0
284145,4,82,0,1,0,0,0

In [14]:
y_test.head(1)

287185    119500
Name: prix_vente, dtype: int32

In [15]:
predictions1

array([ 8.31406066e+04,  2.02819304e+05,  2.21956487e+05,  1.89474201e+05,
        2.36044152e+05,  1.44053450e+05,  2.85022564e+05,  1.76834353e+05,
        1.93818302e+05,  1.64507795e+05,  1.04468168e+05,  1.21452116e+05,
        5.62829398e+04,  1.94305636e+05,  2.81595558e+05,  2.21999876e+05,
       -1.50874783e+03,  2.76223153e+05,  1.36577445e+05,  5.65143808e+05,
        6.10266067e+04,  1.27026113e+05,  8.73974410e+04,  1.45676463e+05,
        1.54676964e+05,  1.19550107e+05,  1.79145789e+05,  1.26196285e+05,
        1.27026113e+05,  2.01502143e+05,  2.51797717e+05,  2.26256710e+05,
        1.38522843e+05,  1.31282947e+05,  1.44053450e+05,  1.67490856e+05,
        2.29397974e+05,  1.90048801e+05,  2.90109227e+05,  4.58437205e+05,
        2.15015208e+05,  1.90048801e+05,  1.73021463e+05,  1.05741941e+05,
        2.06501539e+05,  1.13681010e+05,  1.14255609e+05,  1.14255609e+05,
        2.68781666e+05,  1.56823954e+05,  2.46425312e+05,  1.65545458e+05,
        1.54676964e+05,  1.95098820e+05,  1.59807015e+05,  1.25708951e+05,
        1.35539782e+05,  1.57617138e+05,  1.55994126e+05,  6.18564345e+04,
        4.20855383e+05,  1.05741941e+05,  1.58933798e+05,  1.31282947e+05,
        2.21714133e+05,  2.03074532e+05,  2.54938981e+05,  8.31406066e+04,
        1.84474805e+05,  2.10503145e+05,  3.18791497e+05,  2.78125162e+05,
        9.16542755e+04,  8.31406066e+04,  1.14255609e+05,  1.08681613e+05,
        8.60807807e+04,  2.13442818e+05,  7.89271612e+04,  1.56823954e+05,
        1.64763023e+05,  1.43223623e+05,  2.43284048e+05,  1.41906461e+05,
        3.23070860e+06,  1.51737291e+05,  1.70632120e+05,  8.73974410e+04,
        1.23806942e+05,  2.17699652e+05,  1.94305636e+05,  5.04030931e+04,
        1.43478851e+05,  1.30708347e+05,  5.54897553e+04,  2.92420663e+05,
        1.45091114e+05,  2.18442214e+05,  1.62118451e+05,  2.02819304e+05,
        2.16627471e+05,  4.35124365e+04,  1.87945201e+05,  6.90534430e+04,
        1.62118451e+05,  1.05167341e+05,  8.89698309e+04,  7.46269378e+04,
        2.80765730e+05,  2.93250491e+05,  1.49347948e+05,  3.61359841e+05,
        2.48814655e+05,  1.25752340e+05,  2.00672315e+05,  9.16542755e+04,
        2.17457299e+05,  1.17682616e+05,  3.76519688e+05,  1.23806942e+05,
        1.33392792e+05,  2.80765730e+05,  1.85217367e+05,  8.02009340e+04,
        1.95343299e+05,  1.90048801e+05,  1.87659458e+05,  1.04468168e+05,
        1.90048801e+05,  2.04929149e+05,  1.61873973e+05,  2.25141140e+05,
        2.87126165e+05,  1.58933798e+05])

In [16]:
import pickle
s = pickle.dumps(LR)
pickle.dump(LR, open('/bd-fs-mnt/datalab/models/dvf/1/model.pkl', 'wb'))