In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from joblib import dump

In [2]:
homedir = str(Path.home())
print(homedir)

/home/jovyan

In [3]:
dfdvf_tls = pd.read_csv(homedir + '/data/dvf/cleaned/tls.txt')
dfdvf_tls = dfdvf_tls.astype({'code_postal': 'str'})

In [4]:
dfdvf_tls.head()

  code_postal  nb_pieces  surface  prix_vente
0       31200          2       41       81276
1       31000          4      100      299730
2       31200          3       62      119000
3       31000          1       30      133000
4       31000          2       45      176000

In [5]:
dfdvf_tls.dtypes

code_postal    object
nb_pieces       int64
surface         int64
prix_vente      int64
dtype: object

In [6]:
x = dfdvf_tls.drop('prix_vente', axis=1)
x = pd.get_dummies(x, drop_first=True)

In [7]:
x.head()

,nb_pieces,surface,code_postal_31100,code_postal_31200,code_postal_31300,code_postal_31400,code_postal_31500
0,2,41,0,1,0,0,0
1,4,100,0,0,0,0,0
2,3,62,0,1,0,0,0
3,1,30,0,0,0,0,0
4,2,45,0,0,0,0,0

In [8]:
y = dfdvf_tls['prix_vente']

In [9]:
y.head()

0     81276
1    299730
2    119000
3    133000
4    176000
Name: prix_vente, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [11]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train, y_train)

LinearRegression()

In [12]:
predictions1 =  LR.predict(x_test)

In [13]:
x_test.head(5)

,nb_pieces,surface,code_postal_31100,code_postal_31200,code_postal_31300,code_postal_31400,code_postal_31500
637,3,60,0,1,0,0,0
5035,4,112,0,0,0,0,0
4870,3,57,0,0,0,1,0
7754,2,41,0,1,0,0,0
1421,4,140,0,0,0,1,0

In [14]:
y_test.head(3)

637     177000
5035    463000
4870    172000
Name: prix_vente, dtype: int64

In [15]:
predictions1

array([166939.433058  , 384659.79529791, 209237.22682489, ...,
       140085.70241551, 102188.03245712, 137483.79195015])

In [ ]:
import pickle
s = pickle.dumps(LR)
pickle.dump(LR, open(homedir + '/data/dvf/models/1/model.pkl', 'wb'))

In [17]:
dump(LR, homedir + '/data/dvf/models/1/model.joblib')

['/home/jovyan/data/dvf/models/1/model.joblib']